@charset "UTF-8";

.linksContent{
  margin: 30px auto;
  padding: 20px;
}

.links{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.main * {
  box-sizing: border-box;
}

.friend-link {
  display: block;
  width: 150px;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
  text-decoration: none;
  background-color: rgb(129, 216, 207);
  text-align: center;
  line-height: 50px;
  color: #fff;
  transition: .4s;
  box-shadow: 5px 5px 3px #aaa;
}

.friend-link:hover {
  background-color: rgb(0, 47, 167);
  box-shadow: none;
}


