@charset "UTF-8";

.tagsContent{
  margin: 30px auto;
  padding: 20px;
}

.page_tags ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.page_tags ul li{
  width: 200px;
  height: 30px;
  margin-top: 50px;
  list-style: none;
}

li a{
  position: relative;
  display: block;
  width: 100px;
  height: 28px;
  line-height: 28px;
  margin-left: 30px;
  text-decoration: none;
  text-align: center;
  font-weight: 300;
  color: black;
  padding: 3px 8px;
  transition: all .2s linear;
  z-index: 2;
  overflow: hidden;
  border: 1px solid #efefef;
  border-radius: 3px;
  /* background: linear-gradient(145deg, #ffffff, #e6e6e6); */
  box-shadow:  10px 10px 15px #d9d9d9;
}

li a:hover{
  box-shadow:  5px 5px 10px #d9d9d9;
}

.terms_count{
  width: 12px;
  height: 12px;
  display: inline-block;
  position: relative;
  top: -10px;
  left: -5px;
  color: #888;
  font-size: 12px;
  border: 1px solid #999;
  border-radius: 50%;
  text-align: center;
  line-height: 12px;
}

@media (max-width: 768px) {
  .tagsContent {
    padding: 0;
    margin: 0;
  }
  .page_tags ul {
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  .page_tags ul li {
    width: 120px;
    margin: 5px;
    margin-top: 30px;
  }
  .page_tags ul li a {
    width: 100px;
    margin: 0;
  }
}