@charset "UTF-8";

html,
body {
  min-width: 100%;
  min-height: 100%;
  background-color: #f5f5f5;
  padding: 0;
  margin: 0;
}

/* 导航栏 */

.nav {
  width: calc(100ch);
  height: 60px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.logoBox {
  float: left;
  width: 60px;
  height: 60px;
}

.logo {
  width: 80px;
  margin-top: 20px;
  border-radius: 50%;
}

.nav::after {
  content: "";
  display: block;
  clear: both;
}

.nav ul {
  width: 650px;
  margin-left: 0;
  padding: 0;
  margin-top: 50px;
  float: right;
  display: flex;
  justify-content: space-between;
}

/* .nav ul::after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
} */

.nav li {
  line-height: 60px;
  text-align: center;
  list-style-type: none;
}

.bars {
  display: none;
}

.linkBox {
  position: relative;
  display: block;
  width: 100px;
  height: 28px;
  line-height: 28px;
  margin: 0;
  /* margin-left: 30px; */
  text-decoration: none;
  text-align: center;
  font-weight: 100;
  color: black;
  padding: 3px 8px;
  transition: all .2s linear;
  z-index: 2;
  overflow: hidden;
  border-radius: 3px;
  border: 1px solid #eee;
  box-shadow:  20px 20px 40px #d9d9d9;
}

.linkBox:hover {
  color: #000;
  border-radius: 3px;
  box-shadow: 10px 10px 20px #d9d9d9;
}

.header {
  margin-top: 40px;
  width: calc(100ch);
  margin: 0px auto;
}

.header::after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.header div {
  width: 50%;
  margin: 0;
  padding: 0;
}

.header::after {
  content: "";
  display: block;
  clear: both;
}

.subTitle {
  float: left;
  font-weight: 100;
  line-height: 40px;
  color: #444;
}

.socials {
  float: right;
  line-height: 40px;
}

.socialLinks {
  float: right;
  text-align: right;
}

.socials a {
  margin-left: 15px;
}

.socials i {
  color: black;
}

.main {
  width: calc(100ch);
  min-height: 800px;
  background-color: #fff;
  color: #000;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  z-index: 1;
  border-radius: 8px;
  background: #f5f5f5;
  border: 1px solid #ddd;
  box-shadow:  10px 10px 10px #d0d0d0;
}

.main::after {
  content: "";
  display: block;
  clear: both;
}

.postList {
  padding: 0 50px;
  padding-top: 30px;
}

.listBox {
  font-weight: 200;
}

.listBox a,
.postContent a {
  position: relative;
  color: #000;
  text-decoration: none;
}

.postContent a {
  color: rgb(212, 72, 182);
}

.listBox a::before,
.postContent a::before {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background-color: #000;
  transform: scaleX(0);
  transition: all .7s;
  transition-timing-function: cubic-bezier(0.68, -0.43, 0.27, 1.25);
}

.listBox a:hover::before,
.postContent a:hover::before {
  transform: scaleX(1);
}

.listBox p,
.listBox pre {
  letter-spacing: 0.2px;
  font-size: .9em;
  color: #444;
  overflow: hidden;
}

.listBox i {
  margin-right: 3px;
}

.listBox span {
  color: #666;
  font-size: .6em;
  margin-right: 5px;
}

.listBox h3 {
  font-weight: 400;
}

.pagination {
  height: 50px;
  margin: 50px 0px;
  padding: 10px 40px;
}

.pre {
  float: left;
}

.next {
  float: right;
  margin-right: 0;
}

/* footer */

footer {
  width: calc(100ch);
  height: calc(10ch);
  margin: 0 auto;
  font-weight: 100;
}

footer span {
  font-size: small;
  height: 20px;
  line-height: 20px;
}

footer a {
  position: relative;
  color: #888;
  text-decoration: none;
}

.leftBox {
  float: left;
  width: 50%;
}

.beian {
  display: inline;
  position: relative;
  top: 5px;
}

.rightBox {
  float: right;
  text-align: right;
  width: 50%;
}

/* 文章内容 */

.postContent {
  font-family: 'source-han-sans-simplified-c', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  padding: 30px 50px;
  font-weight: 200;
  letter-spacing: 1px;
  word-wrap: break-word;
  word-break: break-all;
  overflow: auto;
}

.postContent img {
  display: block;
  max-width: 95%;
  margin: 10px auto;
}

.postContent i {
  margin-right: 3px;
  color: #555;
}

/* 代码高亮 */

code {
  background-color: #282c34;
  color: #b0c4de;
  padding: 5px;
  line-height: 18px;
}

.highlight{
  /* 统一行高，让行号和代码能对齐 */
  line-height: 18px;
}

.highlight > pre {
  padding: 5px 10px;
}

.highlight code {
  padding: 0;
}




/* 引用 */

blockquote {
  -moz-box-sizing: border-box;
  line-height: 30px;
  box-sizing: border-box;
  margin: 2.5em 0;
  padding: 0 0 0 20px;
  font-style: italic;
  color: #555555;
  background-color: #eee;
  border-left: none;
  word-wrap: unset;
  word-break: unset;
  overflow-x: auto;
}

blockquote p {
  margin: 0;
}

blockquote:before {
  content: '';
  font-family: times, sans-serif;
  font-style: normal;
  font-size: 20px;
  color: #444444;
  font-weight: bold;
  line-height: 30px;
  margin-left: -20px;
  position: absolute;
}

/*文章版权注释*/

.post-copyright {
  margin: 2em 0 0;
  padding: .5em 1em;
  border-left: 3px solid #ff1700;
  background-color: #f9f9f9;
  list-style: none;
}

@media (min-width: 723px) and (max-width: 1200px) {
  .nav {
    width: calc(95vw);
  }

  .header {
    width: 95%;
  }

  .main {
    width: 95%;
  }

  footer {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .nav {
    width: calc(100vw);
    text-align: center;
  }

  .bars {
    width: 40px;
    height: 40px;
    display: block;
    position: fixed;
    top: 5px;
    left: 5px;
    background-color: transparent;
    border: none;
  }

  .bars i {
    font-size: 20px;
  }

  .bars:focus {
    border: none;
    outline: none;
  }

  .nav ul {
    height: 28px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    /* float: left; */
    width: 100%;
    bottom: 0px;
    line-height: 48px;
    margin: 0;
    padding: 5px 0px;
    z-index: 99;
    background-color: #fff;
  }

  .nav ul::after {
    display: none;
  }

  .nav li {
    display: block;
    float: none;
    width: 58px;
    height: 28px;
    line-height: 28px;
  }

  /* .nav .linkBox:before {
    transform: scaleY(1);
  } */

  .nav .linkBox {
    width: 58px;
    line-height: 28px;
    color: #000;
    transition: .2s;
    box-shadow: none;
    background-color: #fff;
    border-radius: 0;
    margin-left: 0;
    padding: 0;
  }

  .logoBox {
    margin: 0 auto;
    float: unset;
  }

  .logo {
    width: 80px;
    height: 80px;
    margin-left: -15px;
    margin-bottom: 10px;
  }

  .header {
    width: calc(97vw);
    text-align: center;
    margin-top: 15px;
  }

  .header div {
    width: calc(97vw);
    float: none;
    clear: both;
    margin: 0 auto;
  }

  .subTitle {
    text-align: center;
  }

  .socialLinks {
    text-align: center;
  }

  .postContent,
  .postList {
    padding: 10px 20px;
  }

  .socials a {
    margin: 0 10px;
  }

  .main {
    width: calc(97vw);
    margin-bottom: 10px;
  }

  footer {
    width: calc(97vw);
    text-align: center;
  }

  footer .leftBox {
    float: none;
    width: 100%;
  }

  footer .rightBox {
    float: none;
    width: 100%;
    text-align: center;
  }
}