{{ partial "head.html" . }}
<link rel="stylesheet" href="{{ "/css/default_list.css" }}">
</head>

<body>
  {{ partial "menu.html" . }}
  <div class="main">
    <div class="tagsContent">
      <div class="page_tags">
        {{ range .Data.Pages.GroupByDate "2006" }}
        <div class="listing_title">{{ .Key }}</div>
        <div class="listing">
          {{ range .Pages }}
          <div class="listing_item">
            <div class="listing_post">
              <a href="{{ .RelPermalink }}">{{ .Title }}
                <div class="post_time"><span class="date">{{ .Date.Format "01-02" }}</span></div>
              </a>
            </div>
          </div>
          {{ end }}
        </div>
        {{ end }}
      </div>

    </div>
  </div>
  {{ partial "footer.html" . }}
</body>
<!-- js -->
<script src="{{"/js/list.js" | absURL}}"></script>