{{ partial "head.html" . }}
<link rel="stylesheet" href="{{ "/css/tags.css" }}">
</head>

<body>
  {{ partial "menu.html" . }}
  <div class="main">
    <div class="tagsContent">
      <div class="page_tags">
        <ul>
            {{ $data := .Data }}
            {{ range .Site.Taxonomies.tags }}
            <li>
                <a href="{{ .Page.Permalink }}">
                    {{ .Page.Title }} <span class="terms_count">{{ .Count }}</span>
                </a>
            </li>
            {{ end }}
        </ul>
    </div>
    </div>
  </div>
  {{ partial "footer.html" . }}
</body>
<!-- js -->
<script src="{{"/js/list.js" | absURL}}"></script>