<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ if .IsHome }}{{ .Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}</title>
  <meta name="author" content="{{ if .Site.Params.Author }}{{ .Site.Params.Author | safeHTML }}{{ end }}" />
  {{ if .Description }}
  <meta name="description" content="{{ .Description | safeHTML }}" />
  {{ else if .IsPage }}
  <meta name="description" content="{{ .Summary | plainify }}" />
  {{ else if .Site.Params.description }}
  <meta name="description" content="{{ .Site.Params.description | safeHTML }}" />
  {{ end }}
  {{ if .Keywords }}
  {{ $length := len .Keywords | add -1 }}
  <meta name="keywords" content="{{ range $index, $element := .Keywords }}{{ $element | safeHTML }}{{ if ne $index $length }}, {{ end }}{{ end }}"/>
  {{ else if .Site.Params.keywords }}
  {{ $length := len .Site.Params.keywords | add -1 }}
  <meta name="keywords" content="{{ range $index, $element := .Site.Params.keywords }}{{ $element | safeHTML }}{{ if ne $index $length }}, {{ end }}{{ end }}"/>
  {{ end }}
  <link rel="shortcut icon" href="{{ "/img/favicon.png" |absURL }}" type="image/x-icon">
  <link rel="stylesheet" href="{{ "/css/white.css" |absURL }}">
  <link rel="stylesheet" href="{{ "/css/font-awesome.min.css" |absURL }}">
  <link rel="stylesheet" href="{{"/css/highlight.css" |absURL}}">
  <script src="{{"/js/heighlight.min.js" | absURL }}"></script>
  <!-- custom css -->
  {{ range .Site.Params.customCSS }}
  <link rel="stylesheet" href="{{ "css/" | absURL }}{{ . }}">
  {{ end }}
  <!-- js -->
  <script src="{{"/js/jQuery.min.js" |absURL}}"></script>
  <script src="{{"/js/lodash.js" |absURL}}"></script>
  <script src="{{ "/js/baidu.js" |absURL }}"></script>
  <link rel="stylesheet" href="{{ "/css/main.css" |absURL }}">