<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Site.Title }}</title>
  <meta name="author" content="{{ if .Site.Params.Author }}{{ .Site.Params.Author | safeHTML }}{{ end }}" />
  {{ if .Description }}
  <meta name="description" content="{{ .Description | safeHTML }}" />
  {{ else if .IsPage }}
  <meta name="description" content="{{ .Summary | plainify }}" />
  {{ else if .Site.Params.description }}
  <meta name="description" content="{{ .Site.Params.description | safeHTML }}" />
  {{ end }}
  <meta name="keywords" content="{{ .Site.Params.keywords }}">
  <meta name="baidu-site-verification" content="{{ .Site.Params.seo.baidu }}" />
  <meta name="google-site-verification" content="{{ .Site.Params.seo.googleSiteVerification }}" />
  <link rel="shortcut icon" href="{{ "/img/favicon.png" |absURL }}" type="image/x-icon">
  <link rel="stylesheet" href="{{ "/css/white.css" |absURL }}">
  <!-- <link rel="stylesheet" href="{{ "/css/font-awesome.min.css" |absURL }}" media="none" onload="this.media='all'"> -->
  <!-- <link rel="stylesheet" href="{{"/css/highlight.css" |absURL}}" media="none" onload="this.media='all'"> -->
  <script src="{{"/js/heighlight.min.js" | absURL }}"></script>
  <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">
  <!-- custom css -->
  {{ range .Site.Params.customCSS }}
  <link rel="stylesheet" href="{{ "css/" | absURL }}{{ . }}">
  {{ end }}
  <!-- js -->
  <script src="{{"/js/jQuery.min.js" |absURL}}"></script>
  <script src="{{"/js/lodash.js" |absURL}}"></script>
  <script src="{{ "/js/baidu.js" |absURL }}" async="async"></script>
  <!-- <script type="text/javascript" src="{{ "/js/console.js" |absURL }}" async="async"></script> -->
  <link rel="stylesheet" href="{{ "/css/main.css" |absURL }}">
  <link rel="stylesheet" href="{{ "/css/code-fense.css" |absURL }}">
  <script type="text/javascript" src="{{"/js/bg.js" | absURL}}" async="async"></script>
  <!-- <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css" media="none" onload="this.media='all'">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js" async="async"></script> -->