<!DOCTYPE html>
<html lang="zh-Hans">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Site.Title }}</title>
  <link rel="shortcut icon" href="{{"img/favicon.png" |absURL}}" type="image/x-icon">
  <link rel="stylesheet" href="{{ "css/index.css" |absURL }}">
  <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet"  media="none" onload="this.media='all'">
  <link rel="stylesheet" href="{{ "css/main.css" |absURL }}" media="none" onload="this.media='all'">
  <meta name="description" content="{{ .Site.Params.description }}">
  <meta name="keywords" content="{{ .Site.Params.keyworlds }}">
  <meta name="baidu-site-verification" content="{{ .Site.Params.seo.baidu }}" />
  <meta name="google-site-verification" content="{{ .Site.Params.seo.googleSiteVerification }}" />
</head>

<body>
  <div class="mainBox">
    <canvas id="logoCanvas" width="100" height="70" style="cursor: pointer;"></canvas>
    <script>
        const canvas = document.getElementById('logoCanvas');
        const ctx = canvas.getContext('2d');
        let showCursor = true;

        function drawLogo() {
            ctx.clearRect(0, 0, canvas.width, canvas.height);

            ctx.font = 'bold 38px Arial';
            ctx.fillStyle = '#000';
            ctx.fillText('>', 0, 40);
            ctx.fillText('Y', 25, 40);
            ctx.fillText('K', 48, 40);

            ctx.font = '30px Arial';
            ctx.fillStyle = '#000';
            
            if (showCursor) {
                ctx.fillRect(78, 40, 15, 2);
            }

            ctx.font = '20px Arial';
            ctx.fillText('shroot.dev', 0, 65);
        }

        function animateCursor() {
            showCursor = !showCursor;
            drawLogo();
        }

        function redirectToShrootDev() {
            window.location.href = 'https://shroot.dev';
        }

        canvas.addEventListener('click', redirectToShrootDev);

        drawLogo();
        setInterval(animateCursor, 500);
    </script>
    <div class="socials">
      {{ range .Site.Params.Social }}
      <a href="{{ .Link }}" target="_blank"><i class="{{ .Icon }}" aria-hidden="true"></i></a>
      {{ end }}
    </div>
    <div class="btn">
      
      <a class="toHome" href="/posts/">{{ i18n "enter" }}</a>
    </div>
  </div>
  <footer>
    <div class="indexFooter">
      {{ if .Site.Params.record }}
      <span><a href="http://www.beian.miit.gov.cn/" target="_blank">{{ .Site.Params.record }}</a></span><br />
      {{ end }}
      {{ if (and .Site.Params.policeRecordNumber .Site.Params.policeRecordProvince)}}
      <span>
        <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode={{.Site.Params.policeRecordNumber}}" target="_blank">
          <img class="beian" src="{{"/img/beian.png"|absURL}}" alt="">{{.Site.Params.policeRecordProvince}}公网安备 {{.Site.Params.policeRecordNumber}}号
        </a>
      </span>
      {{ end }}
    </div>
  </footer>
</body>
<script type="text/javascript" src="{{ "/js/baidu.js" |absURL }}" async="async"></script>
<!-- <script type="text/javascript" src="{{ "/js/console.js" |absURL }}" async="async"></script> -->
</html>