{{ partial "head.html" . }}
<link rel="stylesheet" href="{{ "/css/links.css" }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
</head>

<body>
  {{ partial "menu.html" . }}
  <div class="main">
    <div class="linksContent">
      <h1>友链</h1>
      {{.Content}}
      <div class="links">
        {{ range .Site.Menus.links }}
        <div class="linkDiv">
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
            <defs>
              <filter id="goo">
                <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
                <feComposite in="SourceGraphic" in2="goo"/>
              </filter>
            </defs>
          </svg>
          
          <span class="button--bubble__container">
            <a href="{{ .URL }}" class="button button--bubble">
              {{ .Name }}
            </a>
            <span class="button--bubble__effect-container">
              <span class="circle top-left"></span>
              <span class="circle top-left"></span>
              <span class="circle top-left"></span>
          
              <span class="button effect-button"></span>
          
              <span class="circle bottom-right"></span>
              <span class="circle bottom-right"></span>
              <span class="circle bottom-right"></span>
            </span>
          </span>
          </div>
        {{ end }}
      </div>
      <h3>{{ .Site.Params.linksFeedback }}</h3>
      <!-- Valine 评论系统 -->
      {{ if .Site.Params.valine.linksEnable }}
      {{ partial "comments.html" . }}
      {{ end }}
    </div>
  </div>
  {{ partial "footer.html" . }}
</body>
<!-- js -->
<script src="{{"/js/list.js" | absURL}}"></script>
<script src="{{"/js/post.js" | absURL}}"></script>
<script src="{{"/js/link.js" | absURL}}"></script>